[server]
hostname = "irc.freenode.net"
nick = "unsnap"
channels = ["#unsnap"]

[keys]
imgur_client_id = "ababa"
imgur_client_secret = "ababa"
twitter_app_key = "ababa"
twitter_app_secret = "ababa"
spotify_app_key = "ababa"
spotify_app_secret = "ababa"
youtube_developer_key = "ababa"
